<!DOCTYPE html>
<html lang="us">
<head>
<meta charset="utf-8"/>
<title>Save a life!</title> 
<link rel="stylesheet" type="text/css" href="/css/index.css"/>  
</head>
<body> 
    <div id="chartDiv" style="width: 100%; height: 800px;"></div>
    <h1>Save a Life!</h1>
    <BMP-form method="" action="" >
        <a class="update" href="/" > Back To Main Page </a>       
   </BMP-form>
</body>
<script src="https://code.jscharting.com/latest/jscharting.js"></script> 
<script> 
    JSC.fetch("../../biomean.csv")
    .then(function(response){return response.text(); } )
    .then( function(text) {let series=csvToSeries(text);
        renderChart(series);})
    .catch(function (error){
        console.log(error)
    });
    
    function csvToSeries(text){
        //const CreatinineFactor = 'creatinine';
        let dataAsJson = JSC.csv2Json(text);
        let fatemehfaritous = [];
        dataAsJson.forEach(function (row){
            if(row.patientName ==='fatemeh Faritous'){
                fatemehfaritous.push({x: row.testDate, y: row.creatinine});
            }
        });
            return[
                {name: 'Fatemeh Faritous', points: fatemehfaritous}
            ];
    }

 function renderChart(series){
     JSC.Chart('chartDiv',{
        title_label_text: 'Creatinine values as Pathogenesis for Ischemic Stroke',
    annotations: [{
        label_text: 'Source: Biomean! Save a life!',
        position: 'bottom center'
    }],
    legend_visible: false,
    xAxis_crosshair_enabled: true,
    defaultSeries_firstPoint_label_text: '<b>%seriesName</b>',
    defaultPoint_tooltip: '%seriesName <b>%yValue</b> mg/dl',
    series: series
     });
 }   
  </script> 
 </html>