:root {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  --box-bg: rgb(179, 142, 73);
  --txt-bg: rgb(59, 47, 5);
}

body {
margin: 0px;
padding: 0px;
background-color: #580909;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
}

.w{
/* color:#69f;
border-color:#328038*/
text-align: center;
color: #eeeb2b;
border:#69f;
border-style: inset;
border-width: 5px ;
display: inline-flex;
flex-wrap: wrap;
width:400px;
height:400px;
padding: 5px ;
margin:15px 12px 6px 15px;
 }

p#start {
  /*border:5px solid chartreuse;
  border-style: solid;
border-color: chartreuse;*/
  width:98%; 
color: #eeeb2b;
position:sticky;
top: 5px;
left: 300px;
font-size: 35px; 
text-align: center;
margin:15px 12px 6px 15px;
}

input[type='button']{
width:60px;
background-color:#69f;
}
input[type='number']{
width:50px;
}
input[type='text']{
width:200px;
}

ul {
list-style-type: none;
}
ul li {
margin: 10px 0 10px 0;
font-size: 15px; 
text-align: center;
}
.error {
color: #d93a3e;
}
/*------------------*/
label{
text-align:center;

}
h1{
text-align:center;
flex:1;
}

h2{
  text-align:center;
  flex:1;
  color: #eeeb2b;
  }

div{
text-align:center;
}
p#Comments {

color: #eeeb2b;
position:sticky;
top: 5px;
font-size: 20px; 
text-align: center;
margin:15px 12px 6px 15px;
}

.ugly {
display: inline-flex;
flex-wrap: wrap;
align-content: space-between;
/*display: flex; */
flex-direction: row;
width: 300px;
height: 400px;
border: 2px solid;
background-color: var(--box-bg , #580909);
padding: 6px;
color: var( --txt-bg, #bdc2c5);
margin: 6px 12px 12px 12px;
}
.fields {
margin: 3px ;
display: block; 
 flex-wrap: wrap;
}

.ghavitar {
  display: block;
  /*flex-wrap: wrap;*/
  /*align-content: space-between;*/
  /*display: flex; */
  flex-direction: row;
  width: 95%;
  height: 50px;
  border: 4px solid green;
  background-color: var(--box-bg , #580909);
  padding: 4px;
  color: var( --txt-bg, #bdc2c5);
  margin: 6px 13px 6px 14px;
  overflow: hidden;
  }
.bahooshtar {
  margin: 0px 0px 0px 3px ;
  display: inline-flex;
  /*border: 2px solid green; */
  flex-wrap: wrap;
  width: 100%;
  height: 30px;
  justify-content:space-between;
  }
/*align-content: space-between;

flex-direction: column;
justify-content: space-between;*/

.delete {
display: inline-block;
background-color: #ec4342;
padding: 8px;
font-size: .8em;
border-radius: 4px;
color: #ffffff;
cursor: pointer;
}
.update {
display: inline-block;
background-color: #37ad79;
padding: 4px;
font-size: .8em;
border-radius: 4px;
color: #ffffff;
text-decoration: none;
}
.download {
  display: inline;
  background-color: #2c76e6;
  padding: 4px;
  font-size: .8em;
  border-radius: 4px;
  color: #070404;
  text-decoration: none;
  }
.atrialFibrillation {
display: inline ;
position:relative;
width: 24px;
height: 24px;
fill: #bdc2c5;
cursor: pointer;
}
.atrialFibrillation.is-fav {
  fill: #c2061f;
}
.atrialFibrillation.is-fav-hovering {
  fill: #ffab23;
}
.atrialFibrillation.is-fav.is-fav-hovering {
  fill: #1f1505;
}

/*--------------
:host{
display:flex;
height: calc (100% - 95px);
flex-direction: column;
padding: 10px;
}*/

section {
flex: 1;
display: flex;
flex-flow: row wrap;
align-content: flex-start;
}
section > BMP-form {
margin: 10px;

}
footer {
text-align: right;
}
footer .icon {
width: 64px;
height: 64px;
}


.cID{
display: none;
}

.ugly-u {
display: inline-flex;
flex-wrap: wrap;
align-content: space-between;
/*display: flex; */
flex-direction: row;
width: 400px;
height: 500px;
border: 2px solid;
background-color: #3858c2;
padding: 6px;
color: #bdc2c5;
margin: 3px 12px 12px 12px;
}

.fields-u {
margin: 8px ;
display: block; 
 flex-wrap: wrap;
align-content: space-between;

/*flex-direction: column;

justify-content: space-between;*/
}

.oldval{
color:#ffab23;
}