<!DOCTYPE html>
<html lang="us">
<head>
<meta charset="utf-8"/>
<title>Save a life!</title> 
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body>
    <p id='start'>This page collects targeted Metabolic Panels </p>
    <!--<script src='./index.js' defer ></script> -->
    <form class='w' method="post" action="" > 
        <ul>
        <li>
        Patient's Name: <input type='text' name='patientName' id='patientName' /><br/>
        <!--<div *ngIf="form.get('cuName').hasError('pattern')" class="error"> CustomerName is mandatory</div>-->
        </li>
        <li>
        A Numeric value will be generated Automatically to disguise Patient's Name <input type="hidden" name="documenNumber" id="documenNumber" /><br/>
        </li>
        <li>
        Date of test: <input type="date" name="testDate" id="testDate"  /><br/>
        </li>
        <li>
        eGFR: <input type="number" step="0.01" name="eGfr" id="eGfr" /><br/>
        </li>
        <li>
        glucose <input type="number" name="glucose" id="glucose" /><br/>    
        </li>
        <li>
        Creatinine (mg/dl): <input type="number" step="0.01" name="creatinine" id="creatinine" /><br/>
        </li>
        <li>
        History of Atrial Fibrillation: <input type='checkbox' id='atrialFibrillation' name='atrialFibrillation' /><br/>	
        </li>
        <li>
             <input type="hidden" name="creatinineMicromole" id="creatinineMicromole" /><br/>
        </li>
        <li>
             <input type="hidden" name="spbmCap" id="spbmCap" /><br/>
        </li>
       
        <li>
        <button type="submit" id="submit" > Save </button><br/>	
        </li>     
    </ul>
    </form><br/>
    <%- include(`../pages/${template}`); %>
</body>
</html>
